# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/

# Testing & Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build
*.exe
*.spec

# Credentials
creds/
*.rdp

# OS
.DS_Store
test/
